/* Reset CSS para o elemento raiz (root) */
:root {
  font-family: 'Young Serif', serif; /* Define a fonte principal */
  line-height: 1.5; /* Define a altura da linha */
  font-weight: 400; /* Define o peso da fonte */
  color-scheme: light dark; /* Define o esquema de cores para suporte a modo claro/escuro */
  color: rgba(255, 255, 255, 0.87); /* Define a cor do texto principal com transparência */
  background: linear-gradient(to bottom, #0a0000, #230b1b); /* Define um plano de fundo gradient */
  font-synthesis: none; /* Evita a síntese de fontes */
  text-rendering: optimizeLegibility; /* Otimiza a renderização do texto para legibilidade */
  -webkit-font-smoothing: antialiased; /* Suaviza as bordas das fontes no Safari */
  -moz-osx-font-smoothing: grayscale; /* Suaviza as bordas das fontes no macOS */
  -webkit-text-size-adjust: 100%; /* Ajusta o tamanho do texto para 100% (padrão) */
}

/* Estilo para o corpo (body) */
body {
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  align-items: center; /* Centraliza os elementos horizontalmente */
  justify-content: center; /* Centraliza os elementos verticalmente */
  height: 100vh; /* Define a altura do corpo para ocupar toda a altura da tela (viewport) */
}
